conf/smv-user-conf.props

derby.log
metastore_db/
.DS_Store

*.class
*.log
*.pyc
*.pyo

target/

# IPython Notebook
.ipynb_checkpoints

.sync-config.cson
data/output
data/history
pluto_db
smv_pyshell_init.py

.vscode/
